/* body {
  background: url('https://images.unsplash.com/photo-1458053688450-eef5d21d43b3') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main {
  border-radius: 500px;
  padding: 10px;
  margin-bottom: 80px;
  margin-left: 150px;
  margin-right: 150px;
  display: block;
  margin-top: 80px;
  background: white;
  color: black;
}
h1 {
  text-align: center;
  font-family: "Arial";
  font-size: 3em;
  color: green;
}

#footer {
  font-size: 3em;
  text-align: center;
  font-family: 'roboto', sans-serif;
  padding-top: 80px;
  color: black;
  margin-bottom: 60px;
}
#inputFields {
  text-align: center;
}
#findThatFilm {
  background: #e34234;
  color: white;
  width: 50%;
  border-radius:40px;
  height: 40%;
  margin-top: 15px;
  
}
#searchForFilm:hover {
  background: white;
  color: black;
}
#userInput {
  width: 500px;
  background: none;
  padding: 45px;
  font-size:1.5em;
  color: black;
}
.results p {
  color: black;
  text-align: justify;
  font-weight: bold;
  font-size: 1.5em
} */

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

body {
  font-size: 18px;
  font-family: Play, sans-serif;
  line-height: 1.2;
  background: rgb(31, 31, 31);
  color: #aaa;
  background-image: url("img/back 2.jpg");
  background-repeat: no-repeat;
  background-position : center;
  background-size: cover;
  }

a {
  text-decoration: none;
  color: rgb(43, 183, 164);
  font-weight: bold;
  transition: .3s;
  &:hover {
    color: white;
    
  }
}

h1 {
  margin: .2em 0;
  color: white;
}
p {
  margin: .8em 0;
}
.wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

form {
  label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: .3em;
  }
  input {
    outline: none;
    width: 100%;
    font-size: 1.3rem;
    padding: .5em 1em;
    border: 5px solid white;
    border-radius: .3em;
    &:focus {
      border-color: rgb(43, 183, 164);
    }
  }
}
.results {
  margin: 1rem auto;
}
.result {
  padding: .8rem;
  margin-bottom: .8rem;
  border: 5px solid #aaa;
  border-radius: .3em;
 .imdb {
   float: right;
   position: relative;
   top: 5px;
 }
  h2 {
    float: left;
    color: white;
    a {
      color: #aaa;
      &:hover {
        color: white;
      }
    }
  }
  .title {
    margin-bottom: .5em;
  }
  .meta {
    display: block;
    strong {
      color: white;
    }
  }
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}